MONGO_URI=mongodb://localhost:27017
MONGO_DB=GodAI
MONGO_DOCUMENTS_COLLECTION=documents

OPENSEARCH_URI=http://admin:Pa$$W0rd2K24@localhost:9200/
OPENSEARCH_HOST=localhost
OPENSEARCH_PORT=9200
OPENSEARCH_USER=admin
OPENSEARCH_PASSWORD=Pa$$W0rd2K24
OPENSEARCH_CHUNK_INDEX=test_embedings2
OPENSEARCH_CHUNK_INDEX_PREFIX=religious_text
OPENSEARCH_EMBEDDING_INDEX=test_embedings2

# Text splitting configurations
TEXT_CHUNK_SIZE=2000
EXTRACTION_TEMP=0

MAX_OUTPUT_TOKENS_LLM=2500
LLM_CONFIG = openai

# OpenAI configurations
OPENAI_API_KEY=api_key
OPENAI_EMBEDDINGS_MODEL=text-embedding-3-small
OPENAI_EXTRACTION_MODEL=gpt-4o